/* src/App.css */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Arial", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.name-tag {
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 90%;
  width: 100%;
}

.name-tag h1 {
  font-size: 8vw;
  margin: 0;
}

.name-tag p {
  font-size: 4vw;
  margin: 5px 0;
}

.name-tag .student-id {
  font-size: 3.5vw;
  margin-top: 10px;
}

.underline {
  width: 60%;
  height: 2px;
  background-color: #ecf0f1;
  margin: 10px auto;
}

@media (min-width: 768px) {
  .name-tag {
    max-width: 400px;
  }

  .name-tag h1 {
    font-size: 36px;
  }

  .name-tag p {
    font-size: 18px;
  }

  .name-tag .student-id {
    font-size: 16px;
  }
}
